six
numpy
requests
pandas
cachetools; python_version < '3.2'
xattr; sys_platform == 'linux' or sys_platform == 'darwin'
mock; python_version < '3.3'
git+https://github.com/matwey/gp-multistate-kernel
